In [1]:
import numpy as np

In [46]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

# reading data

In [3]:
sales_data = pd.read_csv("16100011.csv")
#sales_data = pd.read_csv("https://www150.statcan.gc.ca/t1/tbl1/en/dtl!downloadDbLoadingData-nonTraduit.action?pid=1610001101&latestN=5&startDate=&endDate=&csvLocale=en&selectedMembers=%5B%5B4%2C2%2C10%2C6%2C12%2C1%2C3%2C9%2C7%2C5%2C8%2C11%5D%2C%5B1%5D%2C%5B2%2C1%5D%2C%5B1%5D%5D")

In [4]:
sales_data.head()

,REF_DATE,GEO,DGUID,Principal statistics,Seasonal adjustment,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2009-01,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Manufacturing [31-33],Dollars,81,thousands,3,v1074250274,1.1.1.1,961765.0,NaN,NaN,NaN,0
1,2009-01,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Non-durable goods industries,Dollars,81,thousands,3,v1074250299,1.1.1.2,388250.0,NaN,NaN,NaN,0
2,2009-01,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Food manufacturing [311],Dollars,81,thousands,3,v1074250275,1.1.1.3,204958.0,NaN,NaN,NaN,0
3,2009-01,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Beverage and tobacco product manufacturing [312],Dollars,81,thousands,3,v1074250276,1.1.1.4,NaN,x,NaN,NaN,0
4,2009-01,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Textile mills [313],Dollars,81,thousands,3,v1074250277,1.1.1.5,NaN,x,NaN,NaN,0

In [5]:
sales_data.describe()

        UOM_ID  SCALAR_ID         VALUE  SYMBOL  TERMINATED  DECIMALS
count  48360.0    48360.0  3.327700e+04     0.0         0.0   48360.0
mean      81.0        3.0  2.939266e+05     NaN         NaN       0.0
std        0.0        0.0  8.677707e+05     NaN         NaN       0.0
min       81.0        3.0  0.000000e+00     NaN         NaN       0.0
25%       81.0        3.0  7.020000e+03     NaN         NaN       0.0
50%       81.0        3.0  3.580100e+04     NaN         NaN       0.0
75%       81.0        3.0  1.805130e+05     NaN         NaN       0.0
max       81.0        3.0  1.137852e+07     NaN         NaN       0.0

In [6]:
len(pd.unique(sales_data.REF_DATE))

130

# group columns by location and date

In [210]:
sales_geo_date = sales_data.groupby(["GEO",'REF_DATE']).sum()

In [211]:
sales_geo_date.head()

                           UOM_ID  SCALAR_ID      VALUE  SYMBOL  TERMINATED  \
GEO              REF_DATE
Calgary, Alberta 2009-01     2511         93  2823070.0     0.0         0.0
                 2009-02     2511         93  2774438.0     0.0         0.0
                 2009-03     2511         93  3130690.0     0.0         0.0
                 2009-04     2511         93  2854857.0     0.0         0.0
                 2009-05     2511         93  2904362.0     0.0         0.0

                           DECIMALS
GEO              REF_DATE
Calgary, Alberta 2009-01          0
                 2009-02          0
                 2009-03          0
                 2009-04          0
                 2009-05          0

In [213]:
#sales_geo_date.index

In [214]:
sales_geo_date.iloc[[0,1,2,3,4]]

                           UOM_ID  SCALAR_ID      VALUE  SYMBOL  TERMINATED  \
GEO              REF_DATE
Calgary, Alberta 2009-01     2511         93  2823070.0     0.0         0.0
                 2009-02     2511         93  2774438.0     0.0         0.0
                 2009-03     2511         93  3130690.0     0.0         0.0
                 2009-04     2511         93  2854857.0     0.0         0.0
                 2009-05     2511         93  2904362.0     0.0         0.0

                           DECIMALS
GEO              REF_DATE
Calgary, Alberta 2009-01          0
                 2009-02          0
                 2009-03          0
                 2009-04          0
                 2009-05          0

# checking for Calgary, Alberta

In [25]:
sales_data_calgary = sales_data[sales_data.GEO == "Calgary, Alberta"]

In [26]:
sales_data_calgary

,REF_DATE,GEO,DGUID,Principal statistics,Seasonal adjustment,North American Industry Classification System (NAICS),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2019-06,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Manufacturing [31-33],Dollars,81,thousands,3,v1074250274,1.1.1.1,1015973,NaN,NaN,NaN,0
1,2019-07,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Manufacturing [31-33],Dollars,81,thousands,3,v1074250274,1.1.1.1,1069073,NaN,NaN,NaN,0
2,2019-08,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Manufacturing [31-33],Dollars,81,thousands,3,v1074250274,1.1.1.1,1052771,NaN,NaN,NaN,0
3,2019-09,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Manufacturing [31-33],Dollars,81,thousands,3,v1074250274,1.1.1.1,1038501,NaN,NaN,NaN,0
4,2019-10,"Calgary, Alberta",2016S0503825,Sales of goods manufactured (shipments),Unadjusted,Manufacturing [31-33],Dollars,81,thousands,3,v1074250274,1.1.1.1,1091310,NaN,NaN,NaN,0

# just keeping REF_DATE, GEO, VALUE columns of calgary segment

In [209]:
sales_data_calgary.drop(sales_data_calgary.columns.difference(['REF_DATE','GEO','VALUE']),1,inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [30]:
sales_data_calgary

  REF_DATE               GEO    VALUE
0  2019-06  Calgary, Alberta  1015973
1  2019-07  Calgary, Alberta  1069073
2  2019-08  Calgary, Alberta  1052771
3  2019-09  Calgary, Alberta  1038501
4  2019-10  Calgary, Alberta  1091310

In [32]:
len(pd.unique(sales_data.GEO))

12

In [33]:
pd.unique(sales_data.GEO)

array(['Calgary, Alberta', 'Edmonton, Alberta', 'Halifax, Nova Scotia',
       'Hamilton, Ontario', 'Montréal, Quebec',
       'Ottawa-Gatineau, Ontario-Quebec', 'Québec, Quebec',
       'Regina, Saskatchewan', 'Saskatoon, Saskatchewan',
       'Toronto, Ontario', 'Vancouver, British Columbia',
       'Winnipeg, Manitoba'], dtype=object)

In [34]:
date = [i[:4] for i in sales_data.REF_DATE]

# sales_data by date

In [7]:
sales_date = sales_data.groupby("REF_DATE").sum()

In [8]:
sales_date

          UOM_ID  SCALAR_ID       VALUE  SYMBOL  TERMINATED  DECIMALS
REF_DATE
2009-01    30132       1116  57644844.0     0.0         0.0         0
2009-02    30132       1116  57165040.0     0.0         0.0         0
2009-03    30132       1116  62918437.0     0.0         0.0         0
2009-04    30132       1116  63235548.0     0.0         0.0         0
2009-05    30132       1116  58052786.0     0.0         0.0         0
2009-06    30132       1116  63434213.0     0.0         0.0         0
2009-07    30132       1116  60292904.0     0.0         0.0         0
2009-08    30132       1116  59169073.0     0.0         0.0         0
2009-09    30132       1116  62353240.0     0.0         0.0         0
2009-10    30132       1116  64738761.0     0.0         0.0         0
2009-11    30132       1116  61227853.0     0.0         0.0         0
2009-12    30132       1116  59983827.0     0.0         0.0         0
2010-01    30132       1116  57278275.0     0.0         0.0         0
2010-02    30132       1116  57487619.0     0.0         0.0         0
2010-03    30132       1116  67214012.0     0.0         0.0         0
2010-04    30132       1116  63112930.0     0.0         0.0         0
2010-05    30132       1116  64229098.0     0.0         0.0         0
2010-06    30132       1116  67934753.0     0.0         0.0         0
2010-07    30132       1116  60351819.0     0.0         0.0         0
2010-08    30132       1116  64195930.0     0.0         0.0         0
2010-09    30132       1116  66321572.0     0.0         0.0         0
2010-10    30132       1116  66030276.0     0.0         0.0         0
2010-11    30132       1116  65632018.0     0.0         0.0         0
2010-12    30132       1116  63593022.0     0.0         0.0         0
2011-01    30132       1116  63795679.0     0.0         0.0         0
2011-02    30132       1116  62040579.0     0.0         0.0         0
2011-03    30132       1116  73679026.0     0.0         0.0         0
2011-04    30132       1116  66233273.0     0.0         0.0         0
2011-05    30132       1116  70668050.0     0.0         0.0         0
2011-06    30132       1116  72674773.0     0.0         0.0         0
...          ...        ...         ...     ...         ...       ...
2017-05    30132       1116  90037480.0     0.0         0.0         0
2017-06    30132       1116  89169543.0     0.0         0.0         0
2017-07    30132       1116  77112042.0     0.0         0.0         0
2017-08    30132       1116  87616160.0     0.0         0.0         0
2017-09    30132       1116  87431813.0     0.0         0.0         0
2017-10    30132       1116  88526337.0     0.0         0.0         0
2017-11    30132       1116  89419185.0     0.0         0.0         0
2017-12    30132       1116  79033316.0     0.0         0.0         0
2018-01    30132       1116  80420180.0     0.0         0.0         0
2018-02    30132       1116  76920198.0     0.0         0.0         0
2018-03    30132       1116  91748797.0     0.0         0.0         0
2018-04    30132       1116  83877496.0     0.0         0.0         0
2018-05    30132       1116  92159769.0     0.0         0.0         0
2018-06    30132       1116  90469980.0     0.0         0.0         0
2018-07    30132       1116  79915143.0     0.0         0.0         0
2018-08    30132       1116  86185920.0     0.0         0.0         0
2018-09    30132       1116  86755226.0     0.0         0.0         0
2018-10    30132       1116  93617813.0     0.0         0.0         0
2018-11    30132       1116  92552846.0     0.0         0.0         0
2018-12    30132       1116  83164169.0     0.0         0.0         0
2019-01    30132       1116  81153888.0     0.0         0.0         0
2019-02    30132       1116  79960132.0     0.0         0.0         0
2019-03    30132       1116  91629123.0     0.0         0.0         0
2019-04    30132       1116  86073319.0     0.0         0.0         0
2019-05    30132       1116  97381705.0     0.0         0.0         0
2019-06    30132       1116  90868561.0     0.0         0.0         0
2019-07    30132       1116  86521476.0     0.0         0.0         0
2019-08    30132       1116  90281177.0     0.0         0.0         0
2019-09    30132       1116  90601449.0     0.0         0.0         0
2019-10    30132       1116  91587680.0     0.0         0.0         0

[130 rows x 6 columns]

In [9]:
sales_date = sales_date.drop(sales_date.columns.difference(['VALUE']),1)

In [10]:
sales_date

               VALUE
REF_DATE
2009-01   57644844.0
2009-02   57165040.0
2009-03   62918437.0
2009-04   63235548.0
2009-05   58052786.0
2009-06   63434213.0
2009-07   60292904.0
2009-08   59169073.0
2009-09   62353240.0
2009-10   64738761.0
2009-11   61227853.0
2009-12   59983827.0
2010-01   57278275.0
2010-02   57487619.0
2010-03   67214012.0
2010-04   63112930.0
2010-05   64229098.0
2010-06   67934753.0
2010-07   60351819.0
2010-08   64195930.0
2010-09   66321572.0
2010-10   66030276.0
2010-11   65632018.0
2010-12   63593022.0
2011-01   63795679.0
2011-02   62040579.0
2011-03   73679026.0
2011-04   66233273.0
2011-05   70668050.0
2011-06   72674773.0
...              ...
2017-05   90037480.0
2017-06   89169543.0
2017-07   77112042.0
2017-08   87616160.0
2017-09   87431813.0
2017-10   88526337.0
2017-11   89419185.0
2017-12   79033316.0
2018-01   80420180.0
2018-02   76920198.0
2018-03   91748797.0
2018-04   83877496.0
2018-05   92159769.0
2018-06   90469980.0
2018-07   79915143.0
2018-08   86185920.0
2018-09   86755226.0
2018-10   93617813.0
2018-11   92552846.0
2018-12   83164169.0
2019-01   81153888.0
2019-02   79960132.0
2019-03   91629123.0
2019-04   86073319.0
2019-05   97381705.0
2019-06   90868561.0
2019-07   86521476.0
2019-08   90281177.0
2019-09   90601449.0
2019-10   91587680.0

[130 rows x 1 columns]

In [18]:
sales_data_cleaned = sales_data.drop(sales_data.columns.difference(['REF_DATE','GEO','VALUE']),1)

In [220]:
#sales_data_cleaned

In [19]:
sales_address = [i.split(', ') for i in sales_data_cleaned.GEO]

In [20]:
sales_data_cleaned['CITY'] = [i[0] for i in sales_address]
sales_data_cleaned['PROVINCE'] = [i[1] for i in sales_address]

In [21]:
#sales_data_cleaned

In [22]:
sales_data_cleaned['PERCENTAGE_CONTRIB'] = [sales_data_cleaned.VALUE[index]/sales_date.loc[date,'VALUE'] for index, date in enumerate(sales_data_cleaned.REF_DATE)]

In [23]:
sales_data_cleaned

,REF_DATE,GEO,VALUE,CITY,PROVINCE,PERCENTAGE_CONTRIB
0,2009-01,"Calgary, Alberta",961765.0,Calgary,Alberta,0.016684
1,2009-01,"Calgary, Alberta",388250.0,Calgary,Alberta,0.006735
2,2009-01,"Calgary, Alberta",204958.0,Calgary,Alberta,0.003556
3,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
4,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
5,2009-01,"Calgary, Alberta",1710.0,Calgary,Alberta,0.000030
6,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
7,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
8,2009-01,"Calgary, Alberta",12906.0,Calgary,Alberta,0.000224
9,2009-01,"Calgary, Alberta",32538.0,Calgary,Alberta,0.000564
10,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
11,2009-01,"Calgary, Alberta",63577.0,Calgary,Alberta,0.001103
12,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
13,2009-01,"Calgary, Alberta",573515.0,Calgary,Alberta,0.009949
14,2009-01,"Calgary, Alberta",31012.0,Calgary,Alberta,0.000538
15,2009-01,"Calgary, Alberta",32184.0,Calgary,Alberta,0.000558
16,2009-01,"Calgary, Alberta",101212.0,Calgary,Alberta,0.001756
17,2009-01,"Calgary, Alberta",120569.0,Calgary,Alberta,0.002092
18,2009-01,"Calgary, Alberta",170744.0,Calgary,Alberta,0.002962
19,2009-01,"Calgary, Alberta",40264.0,Calgary,Alberta,0.000698
20,2009-01,"Calgary, Alberta",11651.0,Calgary,Alberta,0.000202
21,2009-01,"Calgary, Alberta",12258.0,Calgary,Alberta,0.000213
22,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
23,2009-01,"Calgary, Alberta",1791.0,Calgary,Alberta,0.000031
24,2009-01,"Calgary, Alberta",823.0,Calgary,Alberta,0.000014
25,2009-01,"Calgary, Alberta",7722.0,Calgary,Alberta,0.000134
26,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
27,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
28,2009-01,"Calgary, Alberta",NaN,Calgary,Alberta,NaN
29,2009-01,"Calgary, Alberta",36129.0,Calgary,Alberta,0.000627
...,...,...,...,...,...,...
48330,2019-10,"Winnipeg, Manitoba",407768.0,Winnipeg,Manitoba,0.004452
48331,2019-10,"Winnipeg, Manitoba",154148.0,Winnipeg,Manitoba,0.001683
48332,2019-10,"Winnipeg, Manitoba",11269.0,Winnipeg,Manitoba,0.000123
48333,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48334,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48335,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48336,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48337,2019-10,"Winnipeg, Manitoba",26971.0,Winnipeg,Manitoba,0.000294
48338,2019-10,"Winnipeg, Manitoba",34452.0,Winnipeg,Manitoba,0.000376
48339,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48340,2019-10,"Winnipeg, Manitoba",47161.0,Winnipeg,Manitoba,0.000515
48341,2019-10,"Winnipeg, Manitoba",76960.0,Winnipeg,Manitoba,0.000840
48342,2019-10,"Winnipeg, Manitoba",570801.0,Winnipeg,Manitoba,0.006232
48343,2019-10,"Winnipeg, Manitoba",10306.0,Winnipeg,Manitoba,0.000113
48344,2019-10,"Winnipeg, Manitoba",22794.0,Winnipeg,Manitoba,0.000249
48345,2019-10,"Winnipeg, Manitoba",20509.0,Winnipeg,Manitoba,0.000224
48346,2019-10,"Winnipeg, Manitoba",68904.0,Winnipeg,Manitoba,0.000752
48347,2019-10,"Winnipeg, Manitoba",84755.0,Winnipeg,Manitoba,0.000925
48348,2019-10,"Winnipeg, Manitoba",8191.0,Winnipeg,Manitoba,0.000089
48349,2019-10,"Winnipeg, Manitoba",13074.0,Winnipeg,Manitoba,0.000143
48350,2019-10,"Winnipeg, Manitoba",272504.0,Winnipeg,Manitoba,0.002975
48351,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48352,2019-10,"Winnipeg, Manitoba",2075.0,Winnipeg,Manitoba,0.000023
48353,2019-10,"Winnipeg, Manitoba",13365.0,Winnipeg,Manitoba,0.000146
48354,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48355,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48356,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48357,2019-10,"Winnipeg, Manitoba",NaN,Winnipeg,Manitoba,NaN
48358,2019-10,"Winnipeg, Manitoba",41061.0,Winnipeg,Manitoba,0.000448
48359,2019-10,"Winnipeg, Manitoba",28701.0,Winnipeg,Manitoba,0.000313

In [227]:
pd.unique(sales_data_cleaned.CITY),len(pd.unique(sales_data_cleaned.CITY)), len(pd.unique(sales_data_cleaned.PROVINCE))

(array(['Calgary', 'Edmonton', 'Halifax', 'Hamilton', 'Montréal',
        'Ottawa-Gatineau', 'Québec', 'Regina', 'Saskatoon', 'Toronto',
        'Vancouver', 'Winnipeg'], dtype=object), 12, 8)

In [228]:
sales_data_cleaned.isnull().sum()

REF_DATE                  0
GEO                       0
VALUE                 15083
CITY                      0
PROVINCE                  0
PERCENTAGE_CONTRIB    15083
dtype: int64

<h2> PERCENTAGE CHANGE FROM LAST MONTH</h2>

In [231]:
sales_date.tail(20)
#max(sales_date.num_months),len(sales_date)

               VALUE
REF_DATE
2018-03   91748797.0
2018-04   83877496.0
2018-05   92159769.0
2018-06   90469980.0
2018-07   79915143.0
2018-08   86185920.0
2018-09   86755226.0
2018-10   93617813.0
2018-11   92552846.0
2018-12   83164169.0
2019-01   81153888.0
2019-02   79960132.0
2019-03   91629123.0
2019-04   86073319.0
2019-05   97381705.0
2019-06   90868561.0
2019-07   86521476.0
2019-08   90281177.0
2019-09   90601449.0
2019-10   91587680.0

In [11]:
# change% keeps track of the % change in the sales of most recent sales with respect to sales of immediate past
sales_date['change%'] = np.nan
# Trend keeps track if there has been observed a trend until the specific point in time.
# a row will have 1 if the trend has been observed until that point. For example if there is continuous increment of
# sales for 5 months, it will be 0 until fourth month and will be 1 at fifth month so it is easier to extract the
# number of month trend was observed for
sales_date['Trend'] = np.nan

sales_date['num_months'] = np.nan

In [233]:
#sales_date['change%'][1:] = [(sales_date.VALUE[i]-sales_date.VALUE[i-1])/sales_date.VALUE[i-1] for i in range(1,len(sales_date))]

In [12]:
previous = True
count = 0
for i in range(1,len(sales_date)):
    sales_date['change%'][i] = (sales_date.VALUE[i]-sales_date.VALUE[i-1])/sales_date.VALUE[i-1]
    # check if the percentage change followed the trend or deviated .i.e.
    # if it was decreasing (negative), it remained decreasing and if it was increasing
    # it kept increasing
    # if previous % change and current % change were decreasing, or increasing, the product of % change will be +ve
    # so if product is greater than 0, trend is followed
    if sales_date['change%'][i]*sales_date['change%'][i-1] > 0:
        count += 1
        if count >=2:
            sales_date['num_months'][i] = count
            sales_date.Trend[i-1] = 0
            sales_date.Trend[i] = 1
    else:
        count = 0

def add_trend_months(df = sales_date):
    previous = True
    count = 0
    for i in range(1,len(df)):
        df['change%'][i] = (df.VALUE[i]-df.VALUE[i-1])/df.VALUE[i-1]
        # check if the percentage change followed the trend or deviated .i.e.
        # if it was decreasing (negative), it remained decreasing and if it was increasing
        # it kept increasing
        # if previous % change and current % change were decreasing, or increasing, the product of % change will be +ve
        # so if product is greater than 0, trend is followed
        if df['change%'][i]*df['change%'][i-1] > 0:
            count += 1
            if count >=2:
                df['num_months'][i] = count
                df.Trend[i-1] = 0
                df.Trend[i] = 1
        else:
            count = 0
    
    return df

In [13]:
sales_date.num_months = sales_date.num_months.fillna(0)

In [14]:
def get_text(percent_change,inc_dec,num_months=None,trend=False):
    if trend:
        if isinstance(num_months, (int,float)):
            if num_months > 0.0:
                print("There was "+str(round(percent_change*100,3))+"% "+inc_dec+" of sales. Continuous "+inc_dec[:-4]+"ment was observed for last "+str(int(num_months))+" months.")
            else:
                print("There was "+str(round(percent_change*100,3))+"% "+inc_dec+" of sales.")
        else:
            raise ValueError("num_months must be int")
    else:
        print("There was "+str(round(percent_change*100,3))+"% "+inc_dec+" of sales.")

In [16]:
for i in range(1,len(sales_date)):
    perc_change = sales_date.iloc[i,1]
    if perc_change>0:
        inc_dec = 'increased'
    else:
        inc_dec = 'decreased'
    get_text(perc_change,inc_dec,num_months=sales_date.iloc[i,3], trend=True)

There was -0.832% decreased of sales.
There was 10.065% increased of sales.
There was 0.504% increased of sales.
There was -8.196% decreased of sales.
There was 9.27% increased of sales.
There was -4.952% decreased of sales.
There was -1.864% decreased of sales.
There was 5.381% increased of sales.
There was 3.826% increased of sales.
There was -5.423% decreased of sales.
There was -2.032% decreased of sales.
There was -4.51% decreased of sales. Continuous decrement was observed for last 2 months.
There was 0.365% increased of sales.
There was 16.919% increased of sales.
There was -6.102% decreased of sales.
There was 1.769% increased of sales.
There was 5.769% increased of sales.
There was -11.162% decreased of sales.
There was 6.37% increased of sales.
There was 3.311% increased of sales.
There was -0.439% decreased of sales.
There was -0.603% decreased of sales.
There was -3.107% decreased of sales. Continuous decrement was observed for last 2 months.
There was 0.319% increased of sales.
There was -2.751% decreased of sales.
There was 18.759% increased of sales.
There was -10.106% decreased of sales.
There was 6.696% increased of sales.
There was 2.84% increased of sales.
There was -9.633% decreased of sales.
There was 11.618% increased of sales.
There was 3.235% increased of sales.
There was 0.408% increased of sales. Continuous increment was observed for last 2 months.
There was 0.951% increased of sales. Continuous increment was observed for last 3 months.
There was -6.826% decreased of sales.
There was -6.101% decreased of sales.
There was 1.413% increased of sales.
There was 11.528% increased of sales.
There was -9.107% decreased of sales.
There was 11.256% increased of sales.
There was -1.489% decreased of sales.
There was -9.2% decreased of sales.
There was 9.478% increased of sales.
There was -1.348% decreased of sales.
There was 4.452% increased of sales.
There was -2.531% decreased of sales.
There was -13.199% decreased of sales.
There was 2.803% increased of sales.
There was -1.587% decreased of sales.
There was 9.12% increased of sales.
There was -2.124% decreased of sales.
There was 5.272% increased of sales.
There was -1.532% decreased of sales.
There was -5.513% decreased of sales.
There was 8.659% increased of sales.
There was -1.648% decreased of sales.
There was 6.635% increased of sales.
There was -3.258% decreased of sales.
There was -10.145% decreased of sales.
There was 1.359% increased of sales.
There was -0.838% decreased of sales.
There was 11.653% increased of sales.
There was -5.989% decreased of sales.
There was 6.939% increased of sales.
There was 2.909% increased of sales.
There was -5.18% decreased of sales.
There was -0.069% decreased of sales.
There was 8.583% increased of sales.
There was 1.175% increased of sales.
There was -8.082% decreased of sales.
There was -1.211% decreased of sales.
There was -10.917% decreased of sales. Continuous decrement was observed for last 2 months.
There was -5.487% decreased of sales. Continuous decrement was observed for last 3 months.
There was 26.605% increased of sales.
There was -9.728% decreased of sales.
There was 6.036% increased of sales.
There was 8.434% increased of sales.
There was -6.389% decreased of sales.
There was 1.591% increased of sales.
There was 1.986% increased of sales.
There was -2.549% decreased of sales.
There was 1.944% increased of sales.
There was -4.018% decreased of sales.
There was -6.421% decreased of sales.
There was 0.271% increased of sales.
There was 10.346% increased of sales.
There was -5.754% decreased of sales.
There was 7.61% increased of sales.
There was 3.008% increased of sales.
There was -13.941% decreased of sales.
There was 12.375% increased of sales.
There was 2.146% increased of sales.
There was -4.13% decreased of sales.
There was 5.338% increased of sales.
There was -6.546% decreased of sales.
There was -1.67% decreased of sales.
There was -0.686% decreased of sales. Continuous decrement was observed for last 2 months.
There was 16.542% increased of sales.
There was -11.562% decreased of sales.
There was 14.983% increased of sales.
There was -0.964% decreased of sales.
There was -13.522% decreased of sales.
There was 13.622% increased of sales.
There was -0.21% decreased of sales.
There was 1.252% increased of sales.
There was 1.009% increased of sales.
There was -11.615% decreased of sales.
There was 1.755% increased of sales.
There was -4.352% decreased of sales.
There was 19.278% increased of sales.
There was -8.579% decreased of sales.
There was 9.874% increased of sales.
There was -1.834% decreased of sales.
There was -11.667% decreased of sales.
There was 7.847% increased of sales.
There was 0.661% increased of sales.
There was 7.91% increased of sales. Continuous increment was observed for last 2 months.
There was -1.138% decreased of sales.
There was -10.144% decreased of sales.
There was -2.417% decreased of sales. Continuous decrement was observed for last 2 months.
There was -1.471% decreased of sales. Continuous decrement was observed for last 3 months.
There was 14.594% increased of sales.
There was -6.063% decreased of sales.
There was 13.138% increased of sales.
There was -6.688% decreased of sales.
There was -4.784% decreased of sales.
There was 4.345% increased of sales.
There was 0.355% increased of sales.
There was 1.089% increased of sales. Continuous increment was observed for last 2 months.

In [199]:
#data = pd.read_csv("https://www150.statcan.gc.ca/t1/tbl1/en/dtl!downloadDbLoadingData-nonTraduit.action?pid=1610001101&latestN=5&startDate=&endDate=&csvLocale=en&selectedMembers=%5B%5B4%2C2%2C10%2C6%2C12%2C1%2C3%2C9%2C7%2C5%2C8%2C11%5D%2C%5B1%5D%2C%5B2%2C1%5D%2C%5B1%5D%5D")

In [200]:
pd.set_option('display.max_rows', 20)

In [36]:
sales_data_cleaned_grouped = sales_data_cleaned.groupby(['REF_DATE','GEO']).sum()

In [43]:
sales_data_ontario = (sales_data_cleaned[sales_data_cleaned['PROVINCE']=='Ontario'])
sales_data_ontario = sales_data_ontario.drop(columns="PERCENTAGE_CONTRIB")

In [44]:
sales_data_ontario = sales_data_ontario.groupby("REF_DATE").sum()

In [30]:
date_month = sales_data_ontario.REF_DATE
date_month = [i.split("-") for i in date_month]
sales_data_ontario['YEAR'] = [i[0] for i in date_month]
sales_data_ontario['MONTH'] = [i[1] for i in date_month]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [47]:
#sales_data_ontario.groupby("YEAR").sum()